# Python for Data Science Practice Session 1: Economics and Finance

# Employees Performance Analysis

The [Productivity Prediction of Garment Employees Data Set](https://archive.ics.uci.edu/ml/datasets/Productivity+Prediction+of+Garment+Employees) includes important attributes of the garment manufacturing process and the productivity of the employees which had been collected manually and also been validated by the industry experts.

In this notebook, we will assume that this dataset includes data from just one company. The company's management is interested in extracting some specific information about their employee's performance. The tasks we are going to work on are:
1. **Performance check** - get specified columns of a sample from the dataset
2. **Performance ranking** - filter and sort the dataset following specified rules
3. **Teams Ranking** - create a scoreboard for each team
4. **Lottery** - take a random sample out of rows that satisfy given conditions

If you are struggling with anything, check the **Tips** section at the end of the notebook. At the end of some tasks, you can find a number in parentheses that references the Tips section.

Let's get started!

The first step is to import the libraries that we will be using - in our case, `pandas`. Import it as `pd`, so that we could refer to it easier in the future.

In [1]:
#import....
import pandas as pd

Now we need to import the dataset. The dataset is available [here](https://archive.ics.uci.edu/ml/machine-learning-databases/00597/) (click on the `garments_worker_productivity.csv`, and it should download automatically). Save it as `all_data`. *(1)*

In [3]:
#all_data = ....
all_data = pd.read_csv('all_data.csv')

Now, check if you have correctly imported and saved `all_data`.

In [4]:
all_data

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

First, to get a grasp of a dataset, check the number of rows and columns.

In [5]:
all_data.shape

(1197, 15)

Any missing data could cause serious problems for the program. Inspect `all_data` to see the count of values in each column. Base on those pieces of information you can see if any values are missing.

In [6]:
all_data.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.000000,1197.000000,1197.000000,691.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,15.062172,1190.465991,4567.460317,38.210526,0.730159,0.369256,0.150376,34.609858,0.735091
std,3.463963,0.097891,10.943219,1837.455001,3348.823563,160.182643,12.709757,3.268987,0.427848,22.197687,0.174488
min,1.000000,0.070000,2.900000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.233705
25%,3.000000,0.700000,3.940000,774.500000,1440.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.650307
50%,6.000000,0.750000,15.260000,1039.000000,3960.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.773333
75%,9.000000,0.800000,24.260000,1252.500000,6960.000000,50.000000,0.000000,0.000000,0.000000,57.000000,0.850253
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,3600.000000,300.000000,45.000000,2.000000,89.000000,1.120437

As the row `count` tells us, some values are missing in the `wip` column - we need to keep that in mind.

## Performance check

Let's begin this part of the notebook by showing the sample of four rows of our dataset.

In [7]:
all_data.sample(4)

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
839,2/18/2015,Quarter3,finishing,Wednesday,9,0.80,3.94,NaN,960,0,0.0,0,0,8.0,0.549792
911,2/24/2015,Quarter4,sweing,Tuesday,11,0.75,11.61,698.0,3360,34,0.0,0,2,57.0,0.750437
123,1/7/2015,Quarter1,finishing,Wednesday,6,0.80,2.90,NaN,1800,0,0.0,0,0,10.0,0.666515
427,1/25/2015,Quarter4,sweing,Sunday,10,0.75,22.52,1413.0,10080,69,0.0,0,0,56.0,0.800021

As you can see, the sample includes a lot of different columns. To make working on the data easier, you can limit the displayed data using `loc[]`.

(Take for example `date`,`department`,`team`,`no_of_workers`,`targeted_productivity`,`actual_productivity`.)

In [8]:
all_data.sample(4).loc[:,['date', 'department', 'team', 'no_of_workers', 'targeted_productivity', 'actual_productivity']]

,date,department,team,no_of_workers,targeted_productivity,actual_productivity
695,2/10/2015,sweing,1,57.0,0.8,0.900471
309,1/18/2015,sweing,12,31.5,0.8,0.662256
830,2/18/2015,sweing,1,57.0,0.8,0.800280
724,2/11/2015,sweing,4,59.5,0.7,0.700588

In case you find something concerning in the sample, you might want to save it for further analysis. Let's save it and call the variable `random_check`.

In [9]:
#random_check = 
random_check = all_data.sample(4).loc[:,['date', 'department', 'team', 'no_of_workers', 'targeted_productivity', 'actual_productivity']]

You can check whether you have saved the data correctly by showing your variable.

In [10]:
random_check

,date,department,team,no_of_workers,targeted_productivity,actual_productivity
1060,3/4/2015,sweing,5,58.0,0.70,0.700424
433,1/25/2015,finishing,12,9.0,0.70,0.618182
818,2/17/2015,sweing,8,58.0,0.60,0.600983
872,2/22/2015,sweing,6,33.0,0.75,0.750651

If you think that some values in your sample are concerning (too high or too low), you can take the mean to check whether your observations should concern you. Let's say that the number of workers in your sample seems too low. Check if that's the case by taking the mean.

In [11]:
random_check.loc[:,['no_of_workers']].mean()

no_of_workers    39.5
dtype: float64

# Performance Ranking

Let's begin once again by showing our dataset.

In [12]:
all_data

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

Sometimes you are interested only in some particular rows. To focus only on the data that you are interested in, you can use `loc[]`. (Show only the rows where `actual_productivity` is lower than `targeted_productivity`)

In [13]:
all_data.loc[all_data['actual_productivity'] < all_data['targeted_productivity']].loc[:,['actual_productivity','targeted_productivity']]

      actual_productivity  targeted_productivity
11               0.712205                   0.75
12               0.707046                   0.80
14               0.676667                   0.75
15               0.593056                   0.75
16               0.540729                   0.80
...                   ...                    ...
1192             0.628333                   0.75
1193             0.625625                   0.70
1194             0.625625                   0.65
1195             0.505889                   0.75
1196             0.394722                   0.70

[322 rows x 2 columns]

We will be working on those data later. To access them easier, save them as `below_target`.

In [14]:
#below_target = 
below_target = all_data.loc[all_data['actual_productivity'] < all_data['targeted_productivity']]

Check if you have correctly saved the data filtered data.

In [15]:
below_target

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
11,1/1/2015,Quarter1,sweing,Thursday,10,0.75,19.31,578.0,6480,45,0.0,0,0,54.0,0.712205
12,1/1/2015,Quarter1,sweing,Thursday,5,0.80,11.41,668.0,3660,50,0.0,0,0,30.5,0.707046
14,1/1/2015,Quarter1,finishing,Thursday,8,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.676667
15,1/1/2015,Quarter1,finishing,Thursday,4,0.75,3.94,NaN,2160,0,0.0,0,0,18.0,0.593056
16,1/1/2015,Quarter1,finishing,Thursday,7,0.80,2.90,NaN,960,0,0.0,0,0,8.0,0.540729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

If you want to filter the data once again, you can do it using `loc[]` (keep only rows with positive `wip`). *(2)*

In [16]:
#below_target =
below_target.loc[below_target['wip'] > 0]

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
11,1/1/2015,Quarter1,sweing,Thursday,10,0.75,19.31,578.0,6480,45,0.0,0,0,54.0,0.712205
12,1/1/2015,Quarter1,sweing,Thursday,5,0.80,11.41,668.0,3660,50,0.0,0,0,30.5,0.707046
17,1/1/2015,Quarter1,sweing,Thursday,4,0.65,23.69,861.0,7200,0,0.0,0,0,60.0,0.521180
37,1/3/2015,Quarter1,sweing,Saturday,9,0.70,28.08,1072.0,6900,40,0.0,0,0,57.5,0.699965
56,1/4/2015,Quarter1,sweing,Sunday,10,0.70,28.08,1202.0,6900,40,0.0,0,0,57.5,0.699965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,3/4/2015,Quarter1,sweing,Wednesday,6,0.75,18.79,52.0,3960,0,0.0,0,0,33.0,0.332146
1085,3/5/2015,Quarter1,sweing,Thursday,7,0.80,30.10,834.0,1200,0,4.0,40,0,59.0,0.366054
1086,3/5/2015,Quarter1,sweing,Thursday,6,0.35,22.53,1450.0,2640,0,0.0,0,1,39.0,0.263694
1096,3/7/2015,Quarter1,sweing,Saturday,9,0.75,18.79,1226.0,3480,45,0.0,0,0,51.0,0.749987
1105,3/7/2015,Quarter1,sweing,Saturday,5,0.70,27.48,541.0,6960,24,0.0,0,1,58.0,0.408960

Once you got your data filtered, you can sort it by your chosen value. You can also combine it with `.head()` or `.tail()` to see only a specified number of 'best' or 'worst' rows. (sort data by `wip` and show 25 best rows) *(3)*

In [17]:
below_target.sort_values('wip', ascending = False).head(25)

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
577,2/2/2015,Quarter1,sweing,Monday,7,0.70,24.26,2698.0,6720,0,0.0,0,0,56.0,0.295308
801,2/16/2015,Quarter3,sweing,Monday,9,0.60,18.79,2103.0,5400,0,0.0,0,1,54.0,0.329965
919,2/24/2015,Quarter4,sweing,Tuesday,10,0.70,21.25,1834.0,6360,0,0.0,0,1,53.0,0.471108
877,2/22/2015,Quarter4,sweing,Sunday,9,0.70,18.79,1717.0,3240,30,0.0,0,1,57.0,0.627011
784,2/15/2015,Quarter3,sweing,Sunday,9,0.50,18.79,1688.0,5280,0,0.0,0,1,54.0,0.283054
897,2/23/2015,Quarter4,sweing,Monday,9,0.70,18.79,1641.0,6000,40,0.0,0,1,50.0,0.601280
595,2/3/2015,Quarter1,sweing,Tuesday,7,0.70,24.26,1639.0,6720,0,0.0,0,0,56.0,0.541518
858,2/19/2015,Quarter3,sweing,Thursday,9,0.70,18.79,1603.0,6120,30,0.0,0,1,51.0,0.638614
898,2/23/2015,Quarter4,sweing,Monday,10,0.70,21.25,1583.0,6000,0,0.0,0,1,50.0,0.417917
879,2/22/2015,Quarter4,sweing,Sunday,10,0.70,21.25,1531.0,6000,0,0.0,0,1,50.0,0.456875
1086,3/5/2015,Quarter1,sweing,Thursday,6,0.35,22.53,1450.0,2640,0,0.0,0,1,39.0,0.263694
414,1/24/2015,Quarter4,sweing,Saturday,8,0.35,15.09,1448.0,9360,23,0.0,0,0,52.0,0.349990
579,2/2/2015,Quarter1,sweing,Monday,8,0.65,24.26,1435.0,6600,0,0.0,0,0,55.0,0.260979
863,2/19/2015,Quarter3,sweing,Thursday,10,0.70,19.68,1410.0,5760,0,0.0,0,1,48.0,0.249417
559,2/1/2015,Quarter1,sweing,Sunday,7,0.70,24.26,1400.0,6720,0,0.0,0,0,56.0,0.411554
316,1/18/2015,Quarter3,sweing,Sunday,1,0.80,49.10,1381.0,10350,24,0.0,0,0,57.5,0.403242
594,2/3/2015,Quarter1,sweing,Tuesday,8,0.70,24.26,1363.0,6660,0,0.0,0,0,55.5,0.586465
781,2/15/2015,Quarter3,sweing,Sunday,3,0.60,30.10,1361.0,6960,30,0.0,0,1,58.0,0.475718
1038,3/3/2015,Quarter1,sweing,Tuesday,10,0.70,21.82,1313.0,5040,30,0.0,0,0,51.0,0.699984
235,1/13/2015,Quarter2,sweing,Tuesday,5,0.70,20.79,1297.0,10440,0,0.0,0,0,58.0,0.526810
476,1/27/2015,Quarter4,sweing,Tuesday,11,0.50,48.18,1282.0,6480,23,0.0,0,0,54.0,0.370467
1096,3/7/2015,Quarter1,sweing,Saturday,9,0.75,18.79,1226.0,3480,45,0.0,0,0,51.0,0.749987
192,1/11/2015,Quarter2,sweing,Sunday,5,0.60,20.79,1208.0,7980,0,0.0,0,0,57.0,0.452980
56,1/4/2015,Quarter1,sweing,Sunday,10,0.70,28.08,1202.0,6900,40,0.0,0,0,57.5,0.699965
558,2/1/2015,Quarter1,sweing,Sunday,8,0.60,24.26,1196.0,6600,0,0.0,0,0,55.0,0.466821

## Teams Ranking

Now, based on the commands that you have done before, take `team`,`targeted_productivity`,`actual_productivity`,`over_time`,`wip` columns, and save it as `teams`. Make a copy, not a reference.

In [18]:
#teams =
teams = all_data.loc[:,['team', 'targeted_productivity', 'actual_productivity', 'over_time', 'wip']].copy()

As we remember, our dataset has some missing values in `wip` column. To prevent any errors, fill them with zeros. *(4)*

In [19]:
#teams['wip'] =
teams = teams.fillna(0)

Now use the command that you have used at the beginning to check if you have correctly filled missing values.

In [20]:
teams.describe()

,team,targeted_productivity,actual_productivity,over_time,wip
count,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,0.735091,4567.460317,687.228070
std,3.463963,0.097891,0.174488,3348.823563,1514.582341
min,1.000000,0.070000,0.233705,0.000000,0.000000
25%,3.000000,0.700000,0.650307,1440.000000,0.000000
50%,6.000000,0.750000,0.773333,3960.000000,586.000000
75%,9.000000,0.800000,0.850253,6960.000000,1083.000000
max,12.000000,0.800000,1.120437,25920.000000,23122.000000

If you want to combine values by chosen category (for example mean value of each column for each team), you can use `groupby`. Save the result of grouping as a new dataframe named `teams_performance`. *(5)*

In [39]:
#teams_performance =
teams_performance = teams.groupby('team').mean()

Let's check if you correctly grouped data. Show `teams_performance`.

In [42]:
teams_performance

,targeted_productivity,actual_productivity,over_time,wip,relative_productivity
team,,,,,
1,0.746667,0.821054,4793.428571,858.238095,1.099626
2,0.739908,0.770855,4384.954128,693.559633,1.041825
3,0.742105,0.803880,5375.684211,860.410526,1.083242
4,0.717619,0.770035,5449.714286,684.780952,1.073041
5,0.673656,0.697981,5330.967742,482.548387,1.036109
6,0.731383,0.685385,3369.095745,587.840426,0.937109
7,0.714271,0.668006,4857.187500,572.635417,0.935227
8,0.708257,0.674148,4312.293578,505.733945,0.951841
9,0.758173,0.734462,4519.038462,715.923077,0.968726
10,0.738500,0.719736,4736.700000,871.150000,0.974592
11,0.703977,0.681985,4342.500000,649.090909,0.968759
12,0.774242,0.779055,3317.929293,750.858586,1.006216

Because actual productivity is a poor reflection of productivity, create a new column called `relative_productivity`, which is equal to `actual_productivity` divided by `targeted_productivity`.

In [41]:
#teams_performance['relative_productivity'] =
teams_performance['relative_productivity'] = teams_performance['actual_productivity'] / teams_performance['targeted_productivity']

To get a grasp of the relative productivity distribution, show minimum and maximum of relative productivity. *(6)*

In [24]:
print("Min: ", teams_performance['relative_productivity'].min())
print("Max: ", teams_performance['relative_productivity'].max())

Min:  0.9352271918039957
Max:  1.0996264050892857

Now, to create a simple scoring system, follow the commands listed below:

Create `rel_min` and `rel_max` which are respectively minimum and maximum values of `relative_productivity` column. *(7)*

In [25]:
#rel_min =
rel_min = teams_performance['relative_productivity'].min()
rel_max = teams_performance['relative_productivity'].max()

In [26]:
#rel_max =

Do the same for `over_time` and `wip` columns (name them `time_min`,`time_max`, `wip_min` and `wip_max`)

In [27]:
#time_min =
time_min = teams_performance['over_time'].min()
time_max = teams_performance['over_time'].max()

In [28]:
#time_max =

In [29]:
#wip_min =
wip_min = teams_performance['wip'].min()
wip_max = teams_performance['wip'].max()

In [32]:
#wip_max =

871.15

Create a new empty dataframe called `score_board` with the same indexes as `teams_performance`. *(8)*

In [45]:
#score_board =
score_board = pd.DataFrame(index = teams_performance.index)

Create columns `productivity_points`, `overtime_points` and `wip_penalty` using given formula:

$$ points = \frac{(value - min\_value) \cdot max\_points}{max\_value - min\_value} $$

* min_value - minimum value of given column
* max_value - maximum value of given column
* max_points - points for a maximum score (100 for `productivity_points`, 50 for `overtime_points` and (-30) for `wip_penalty`

In [48]:
#score_board['performance_points'] =
score_board['productivity_points'] = ((teams_performance['relative_productivity'] - rel_min)*100)/(rel_max-rel_min)

      productivity_points
team
1              100.000000
2               64.840998
3               90.033960
4               83.828891
5               61.363775
6                1.144378
7                0.000000
8               10.105916
9               20.376454
10              23.944652
11              20.396791
12              43.180976

In [50]:
#score_board['overtime_points'] =
score_board['overtime_points'] = ((teams_performance['over_time'] - time_min)*50)/(time_max-time_min)

In [53]:
#score_board['wip_penalty'] =
score_board['wip_penalty'] = ((teams_performance['wip'] - wip_min)*(-30))/(wip_max-wip_min)
score_board

      productivity_points  overtime_points  wip_penalty
team
1              100.000000        34.607132   -29.003202
2               64.840998        25.026558   -16.290044
3               90.033960        48.263660   -29.170914
4               83.828891        50.000000   -15.612331
5               61.363775        47.214856    -0.000000
6                1.144378         1.200085    -8.128533
7                0.000000        36.102567    -6.954708
8               10.105916        23.322340    -1.789922
9               20.376454        28.171443   -18.016499
10              23.944652        33.276590   -30.000000
11              20.396791        24.030817   -12.857064
12              43.180976         0.000000   -20.713517

Now round all the numbers in `score_board` to intiger. *(9)*

In [54]:
#score_board =
score_board = score_board.round()
score_board

      productivity_points  overtime_points  wip_penalty
team
1                   100.0             35.0        -29.0
2                    65.0             25.0        -16.0
3                    90.0             48.0        -29.0
4                    84.0             50.0        -16.0
5                    61.0             47.0         -0.0
6                     1.0              1.0         -8.0
7                     0.0             36.0         -7.0
8                    10.0             23.0         -2.0
9                    20.0             28.0        -18.0
10                   24.0             33.0        -30.0
11                   20.0             24.0        -13.0
12                   43.0              0.0        -21.0

Add up all scores in a new column called `total_score`.

In [61]:
#score_board['total_score']=
score_board['total_score'] = score_board['productivity_points'] + score_board['overtime_points'] + score_board['wip_penalty']

Show the `score_board` to check if everything is alright.

In [68]:
score_board = score_board.drop(columns = 'total score')

Once you have finished your scoring system, you can show the 3 worst teams ranked by `total_score`.

In [71]:
score_board.sort_values('total_score', ascending = False).tail(3)

      productivity_points  overtime_points  wip_penalty  total_score
team
10                   24.0             33.0        -30.0         27.0
12                   43.0              0.0        -21.0         22.0
6                     1.0              1.0         -8.0         -6.0

You can also easily show the 3 best teams.

In [72]:
score_board.sort_values('total_score', ascending = False).head(3)

      productivity_points  overtime_points  wip_penalty  total_score
team
4                    84.0             50.0        -16.0        118.0
3                    90.0             48.0        -29.0        109.0
5                    61.0             47.0         -0.0        108.0

## Lottery

Let's say that the company is running the lottery for the rows with a productivity of more than 0.95. Filter the rows following this rule.

In [73]:
all_data.loc[all_data['actual_productivity'] > 0.95]

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
19,1/3/2015,Quarter1,finishing,Saturday,4,0.80,4.15,NaN,6600,0,0.0,0,0,20.0,0.988025
20,1/3/2015,Quarter1,finishing,Saturday,11,0.75,2.90,NaN,5640,0,0.0,0,0,17.0,0.987880
21,1/3/2015,Quarter1,finishing,Saturday,9,0.80,4.15,NaN,960,0,0.0,0,0,8.0,0.956271
40,1/4/2015,Quarter1,finishing,Sunday,3,0.75,4.15,NaN,1560,0,0.0,0,0,8.0,0.991389
61,1/5/2015,Quarter1,finishing,Monday,1,0.80,3.94,NaN,1920,0,0.0,0,0,8.0,0.961059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,3/3/2015,Quarter1,finishing,Tuesday,7,0.80,4.60,NaN,4200,0,0.0,0,0,10.0,0.999533
1068,3/5/2015,Quarter1,finishing,Thursday,8,0.80,4.60,NaN,2640,0,0.0,0,0,22.0,0.980985
1069,3/5/2015,Quarter1,finishing,Thursday,2,0.60,3.90,NaN,960,0,0.0,0,0,8.0,0.950625
1106,3/8/2015,Quarter2,finishing,Sunday,3,0.80,4.60,NaN,1440,0,0.0,0,0,12.0,0.951944
1128,3/9/2015,Quarter2,finishing,Monday,11,0.80,2.90,NaN,0,960,0.0,0,0,8.0,0.960625

Unfortunately, the lottery is only for 3 rows, so you need to take them out of the dataset. Also, the lottery organisers are interested only in columns: `date`, `team` and `actual_productivity`.

In [79]:
lottery_results = all_data.loc[all_data['actual_productivity'] > 0.95].sample(3).loc[:,['date', 'team', 'actual_productivity']]

You also need to save the results so that you can easily send them over to lottery organisers (save them as `lottery_results.csv`).

In [80]:
lottery_results.to_csv('lottery_results.csv', index=False)

# Tips:
* (1)   Make sure that our dataset is **in the same folder** as the notebook. The data are sepereated by **comma**. -> [help](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
* (2) Use the format: *dataframe = dataframe.loc[condition]*
* (3) -> [help](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)
* (4) Use the format: *dataframe['column_name'] = dataframe['column_name'].fillna()*. -> [help](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)
* (5) Use the format: *new_dataframe = dataframe.groupby().mean()*. -> [help](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)
* (6) Use `.describe()`
* (7) Combine `.describe()` with `loc[]`
* (8) -> [help](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)
* (9) -> [help](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.round.html)